/* base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */


header {
    text-align: center;
}

#container {
    min-height: 600px;
    align-self: center;
}

/* Module */

.row {
    position: relative;
}

/* State */

/* Theme */

.color-1 {
    background-color: #7777ee;
}

.color-2 {
    background-color: #77ee77;
}

.color-3 {
    background-color: #ee7777;
}

.base-color {
    background-color: #cccccc;
}

/* Desktop */
@media (min-width: 992px){

    /* Module */

    .container div {
        width: 30%;
        margin-left: 20px;
        float: left;
        border: solid 1px #333333;
        background-color: #dddddd;
    }

    .row h2 {
        position: absolute;
        right: 2px;
        top: 2px;
        width: 130px;
        text-align: center;
        border: solid 1px #333333;
    }

    .row h2.color-1 {
        background-color: #7777ee;
    }

    .row h2.color-2 {
        background-color: #77ee77;
    }
    .row h2.color-3 {
        background-color: #ee7777;
    }
    
    .row p {
         padding-top: 50px;
    }

}

/* tablet */
@media (min-width: 768px) and (max-width: 991px){

    /* layout */
    .container {
        align-self: center;
        width: 90%;
        background-color: aliceblue;
    }
    .row h2 {
        position: absolute;
        right: 2px;
        top: 2px;
        border: solid black 1px;
        width: 125px;
        text-align: center;
    }

    .row p {
        padding-top: 40px;
    }

    .container div {
        background-color: #dddddd;
    }
    #div1 {
        width: 45%;
        float: left;
        border: 1px solid black;
    }

    #div2 {
        width: 45%;
        float: right;
        border: 1px solid black;
    }

    #div3 {
        width: 100%;
        float: left;
        border: 1px solid black;
        
        margin-top: 10px;
    }
    
}
    


/* mobile */
@media (max-width: 767px) {
    .container div {
        width: 90%;
        margin-top: 15px;
        border: solid 1px black;
        background-color: #dddddd;
    }

    .row h2 {
        position: absolute;
        right: 2px;
        top: 2px;
        border: solid black 1px;
        width: 125px;
        text-align: center;
    }

    .row p {
        padding-top: 40px;
    }
}