/* base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */


header {
    text-align: center;
}

#container {
    min-height: 600px;
    align-self: center;
}

/* Module */

.row {
    position: relative;
}

/* State */

/* Theme */

.color-1 {
    background-color: #7777ee;
}

.color-2 {
    background-color: #77ee77;
}

.color-3 {
    background-color: #ee7777;
}

.base-color {
    background-color: #cccccc;
}

