@media (min-width: 768px) and (max-width: 991px) {

    #div1, #div2 {
        margin-bottom: 15px;
        padding: 10px;
    }

    #div1 {
        width: 48%;
        float: left;
        
    }

    #div2 {
        width: 48%;
        float: right;
        margin-bottom: 15px;
    }

    #div3 {
        overflow: hidden;
        width: 100%;
    }

    .clear {
        clear: both;
    }





}